SECRET_KEY=change-me-with-a-generated-django-secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

DB_NAME=mentorlink_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# Optional production settings
DATABASE_URL=
REDIS_URL=
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
MATCH_RECALCULATE_MINUTES=30
