{% load static %}
<!---Template de base--->
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}IFRI MentorLink{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-aA7B2Z4tbKj3VBZ1eIweaP0jJ6Q73nB3x2ZRT6wqRnRXTK+LRKWg7E3jOCSKqH+2e4qUqJ0PZT6SNR0x6VFM4g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% block extra_head %}{% endblock %}
</head>
<body>

<aside class="sidebar">
  <div class="sidebar-logo">
    <div class="logo-icon"><i class="fa-solid fa-link"></i></div>
    <div class="logo-text">IFRI_<span>MentorLink</span></div>
  </div>
  <div class="nav-section-title" style="margin-bottom:10px">Navigation</div>
  <a class="nav-item" href="{% url 'accounts:dashboard' %}"><span class="icon"><i class="fa-solid fa-house"></i></span> Accueil</a>
  <a class="nav-item" href="{% url 'matching:home' %}"><span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span> Trouver un mentor</a>
  <a class="nav-item" href="{% url 'messaging:liste_conversations' %}"><span class="icon"><i class="fa-solid fa-comments"></i></span> Messagerie</a>
  <a class="nav-item" href="#"><span class="icon"><i class="fa-solid fa-handshake"></i></span> Mes sessions</a>
  <a class="nav-item active" href="{% url 'accounts:profil' %}"><span class="icon"><i class="fa-solid fa-user"></i></span> Mon profil</a>
  <div class="sidebar-bottom">
    <div class="sidebar-user">
      <div class="sidebar-avatar">JD</div>
      <div class="sidebar-user-info">
        <div class="sidebar-user-name">John Doe</div>
        <div class="sidebar-user-role">GL • L2</div>
      </div>
    </div>
    <a class="nav-item" href="{% url 'accounts:deconnexion' %}" style="color:#f87171;margin-top:4px">
      <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span> Déconnexion
    </a>
  </div>
</aside>

<main class="main">
  {% block content %}
  <div class="page-header">
    <div>
      <h1>IFRI MentorLink</h1>
      <p>Bienvenue sur la plateforme de mentorat.</p>
    </div>
  </div>
  {% endblock %}
</main>

<script src="{% static 'js/main.js' %}"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>
